<footer class="bg-gradient-dark text-white pt-3 fixed-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&copy; 2024 ShoeHub. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>