<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ShoeHub</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" />
  <link rel="stylesheet" href="/css/styles.css" />
  <style>

  </style>
</head>

<body>
  <%- include('../partials/header') %>
  <main class="container" style="padding-bottom: 100px;">
    <div class="md-5">
      <div class="col-md-12 my-5"><%- body %></div>
    </div>
  </main>
  <%- include('../partials/footer') %>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>
